/* css_index.css */
/*-------------------------index.html------------------------------------*/

.siteText {
	color: red;
	font-family: Arial Black, Gadget, sans-serif;
	font-size: 10px;

}



@media only screen and (min-width: 600px) and (max-width:1000px){
    #first{
        width: 600px;
    }
}

#h1 {
	color: white;
	font-family: Arial Black, Gadget, sans-serif;
}

#logo {
	width: 50%;
	padding-top: 150px;

}

#tablePage {
	padding-left: 50px;

}
#tablePage2 {
	padding-top: 0px;

}
#tableimg {
	padding: 10px;

}

.nav { /*nav bar*/
	display: inline;
	text-align: center;

}

.outer-nav-ul {

}

.inner-nav-ul {
	float: right;
	list-style-type: none;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden; /* Allows me to have really long text*/
	background-color: #613790;


}

.nav ul li { /* List Items */

	float: left; /* Horizontal Nav Bar */
}

.nav ul li a { /* Nav Bar Item Specs */
	display: block;
	color: white;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	border-right: 2px solid white;
	font-family: Arial Black, Gadget, sans-serif;



}

.nav ul li a:hover {

	background-color: #7A54A6;
	color: white;

}
#footer {
	margin: 300px auto;
	text-align: center;

}

/*--------------------- login.html----------------------------------*/

.log {
	text-align: center;
	margin: 200px auto;
	width: 50%;
}

.loginH1{
	font-family: Arial Black, Gadget, sans-serif;
 	color: #613790;


}



/*---------------------------creatAccout.html-------------------*/

.labels {
	display : inline-block;
	width: 100px;
	text-align: right;
}

#createAccountTable {

	padding: 15px;
	margin: 0 auto;

}

#accountPadding {
	padding-bottom: 40px;
}

input {
	text-align: center;
}

.logo {
	width: 1200px;
	margin: 0 auto;
}
