
    *{
        background-color:white;
    }

    h1{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        text-decoration: underline;
        color: #613790;
        font-family: "channel";

    }

    h2{
        text-align: center;
        color: #613790;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }


    h4{
        text-align: center;
        color: #613790;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    body{
        text-align: center;
        font-family: "channel";
    }


    p{
        background-color: white;
        color: #613790;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }


    ul{

        color: #613790;
        font-size: large;
        margin-left: auto;
        margin-right: auto;

    }


    li{
        color: #613790;
        font-family: "channel";
        font-size: large;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    li.thank_you{
        color: #613790;
        font-family: "Times New Roman";
        font-size: 36px;
        margin-left: auto;
        margin-right: auto;
    }

    footer{
        alignment: bottom;
    }